<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Capstone Travel App</title>
</head>

<body>
    <div id="app">
        <header>
            <h1>Plan Your Travel</h1>
            <p><img class="logo" src="../media/logo.png"> </p>
        </header>
        <main>
            <section id="trip_search">
                <div class="input_form">
                    <label for="destination">Your destination:</label>
                    <input type="text" id="destination" name="destination" placeholder="Destination" required="">
                    <label for="startDate">Departure date:</label>
                    <input type="date" id="startDate" name="startDate" placeholder="dd.mm.yyyy" required="">
                    <label for="endDate">Return date:</label>
                    <input type="date" id="endDate" name="endDate" placeholder="dd.mm.yyyy" required="">
                    <button type="submit" id="submit" name="">Get info</button>
                </div>
            </section>
            <section id="trip_search_result">

            </section>
        </main>

        <footer>
            <ul class="footer">
                <li><a href="#">contact us</a></li>
                <li><a href="#">site map</a></li>
            </ul>
        </footer>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>